.footer {
    padding: 129px 0 139px;
    background: $greyish-brown url('../images/upload/footer-bg.png') no-repeat left bottom;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
