.scroll-effects.banner-block
	.container
		.col-md-5
			.img-wrap
				+img('EVA AI HACKATHON 22-30th March', 'images/upload/banner_bg.png')
		.col-md-7
			.inner
				h1 Evolable Asia 
					span.faded-red-txt THE BATTLESHIP
					|22nd - 30th March, 2018
				.countdown-block#countdown-block
