.scroll-effects.board-block
	.container
		h4.red-txt.title-2 The sample of the board
		.content
			.row
				.col-md-6
					.item.light-blue-bg
						+img('The sample of the board','images/upload/sample-board-1.png')
				.col-md-6
					.item.dark-blue-bg
						+img('The sample of the board','images/upload/sample-board-2.png')