.scroll-effects.block-1.competition-block.text-center
	.container
		h2.red-txt.title Feel the heat of competition!?
		+link('APPLY BEFORE 14TH MARCH 2018','https://goo.gl/SWVxat').link.btn-1.red-btn(target='_blank')
			|aPPLY BEFORE 14
			sup TH 
			|MARCH 2018
			