.scroll-effects.block-1.fair-play-team-block.text-center
    .container
        h2.red-txt.title Best Fair-play team
        .gray-txt Voting the team you love here!
        +link('Yes, vote for this team','https://goo.gl/r2vvVp').link.btn-1.red-btn(target='_blank')
