header(data-stick-menu)
	.inner
		.container
			.row
				.col-md-2.col-md-offset-8.col-xs-6
					+link('INTRODUCTION','#video').link.white-btn
				.col-md-2.col-xs-6
					+link('SIGN UP','https://goo.gl/SWVxat')(target='_blank').link.red-btn