.scroll-effects.judges-mentors-block
	.container
		h3.red-txt.title-1 Judges and Mentors
		.content
			.row
				.col-md-6
					.scroll-effects.item.green-bg
						.figure-img
							+img('Tran Ngoc Tien','images/upload/tien.png')
						.caption
							.red-txt.name
								b Tran Ngoc Tien
								p.position Dev Manager
							.description
								|Tien is the 1st color joined Evolable Asia five years ago and has more than 18 years’ experience working in the Software Industry. His award winning works won the Silver Prize at Vietnam Intelligence IT Competition(Tri Tue Viet Nam) 2004.
								br 
								|* Tri Tue Vietnam is the predessor of the annual Nhan Tai Dat Viet competition nowadays.
					.scroll-effects.item.blue-bg
						.figure-img
							+img('Nguyen Van Dinh','images/upload/dinh.png')
						.caption
							.red-txt.name
								b Nguyen Van Dinh
								p.position Technical Architect
							.description
								|Dinh graduates of Bachelor of Computer Science, Honor Program, Bach Khoa University. He is now working as Technology Architect for DeNA Travel Vietnam Lab.
					.scroll-effects.item.yellow-bg
						.figure-img
							+img('Reo Tsurumi','images/upload/reo.png')
						.caption
							.red-txt.name
								b Reo Tsurumi
								p.position R &amp; D Manager
							.description
								|Tsurumi is Scrum Master, he receiveied Certified by Scrum Alliance. He started developing and enhancing our internal system using SCRUM since 2016 and experienced some web app projects as a SE using Waterfall model. He do Kickboxing in his free time
				.col-md-6.custome
					.scroll-effects.item.yellow-bg
						.figure-img
							+img('Nguyen Viet Phuong','images/upload/phuong.png')
						.caption
							.red-txt.name
								b Nguyen Viet Phuong
								p.position Onsite Engineer
							.description
								|Phuong has a background of over 10 years exprience working in Japan. He completed PhD Degree by School of Engineering of Osaka University. Phuong is now the onsite engineer of DeNA Travel Japan, and based at Evolable Asia Ho Chi Minh.
					.scroll-effects.item.green-bg
						.figure-img
							+img('Ha Thi Kim Thoa','images/upload/thoa.png')
						.caption
							.red-txt.name
								b Ha Thi Kim Thoa
								p.position Senior Software Developer
							.description
								|She has a background of 10+ years of experience in software engineering, and 7+ years of working as a Team Leader. She joined Evolable Asia about 4 years ago and now is working as Senior Software Developer for Switch Smile Lab.
								br
								|She graduated a Master's in Computer Science at Industrial University of Ho Chi Minh City. 
					.scroll-effects.item.blue-bg
						.figure-img
							+img('Akiyama Masahide','images/upload/aki.png')
						.caption
							.red-txt.name
								b Akiyama Masahide
								p.position Evolable Asia Corporation, Executive of Global Business Division
							.description
								|He has over 10 years at Evolable Asia Corporation in the beginning of company establishment.  He is the one who main in charge of building up company's new business. At present, he manages EA LAB as well as building up global businesses of Evolable Asia.  
					
					