.scroll-effects.prize-block
	.container
		h3.red-txt.title-1 Prize
		.row
			.col-md-4.col-sm-6
				.scroll-effects.item
					+img('1st place 10000000VND','images/upload/prize-1.png')
			.col-md-4.col-sm-6
				.scroll-effects.item
					+img('2nd place 5000000VND','images/upload/prize-2.png')
			.col-md-4.col-sm-6
				.scroll-effects.item
					+img('3rd place 2000000VND','images/upload/prize-3.png')
			.col-md-4.col-sm-6.col-md-offset-2
				.scroll-effects.item
					+img('Best fair-play team 2000000VND','images/upload/prize-4.png')
			.col-md-4.col-sm-6
				.scroll-effects.item
					+img('Best technical team 2000000VND','images/upload/prize-5.png')

