.scroll-effects.schedule-block
	.container
		h3.red-txt.title-1 Schedule
		.row
			.col-md-3.col-sm-6
				.item
					b.blue-txt 1
						sup st
						|&nbsp; - 14
						sup th
						|March
					p.gray-txt For registration
			.col-md-3.col-sm-6
				.item
					b.blue-txt
						|5
						sup th
						|&nbsp;March
					p.gray-txt Tech meet up 5F.DOB
			.col-md-3.col-sm-6
				.item
					b.blue-txt 22
						sup nd
						|&nbsp; -29
						sup th
						|&nbsp;March
					p.gray-txt Tournament &amp; Voting
			.col-md-3.col-sm-6
				.item
					b.blue-txt
						|30
						sup th
						|&nbsp;March
					p.gray-txt Final Match &amp; Awards Ceremony