.scroll-effects.supporting-block
	.container
		h3.red-txt.title-1 Supporting by
		.content
			.row
				.col-sm-4
					.item
						+img('Dena Travel','images/upload/dena_logo.jpg', '')
				.col-sm-4
					.item
						+img('Switch smile','images/upload/switchsmile_logo.jpg', '')
				.col-sm-4
					.item
						+img('Evolable Asia','images/upload/eva_logo.jpg', '')
