.scroll-effects.technical-prize-block
	.container
		h4.red-txt.title-2 The technical prize requirement:
		.content
			.row
				.col-md-6
					.item.green-bg
						h5.red-txt.title Technology
						.content
							ul.star-list
								li Newest Technology
								li Top-notch software implementation
								li Scaleable Expandable
								li Coding Quality
								li Strategy
				.col-md-6
					.item.blue-bg
						h5.red-txt.title Project management
						.content
							ul.star-list
								li Communication &amp; Presentation
								li Team Management
								li Risk management
								li Organization &amp; Planning
								li Problem Solving &amp; Decision-making abilities
			.center-block
				+link('Term and Conditions','javascrip:void(0);').term-link