.video-block
	.container
		.row
			.col-md-5
				.content
					p 
						strong Where you will use the simple algorithms to apply into the real-world, upgrade Technical, Teamwork &amp; Project Management skills
					p.red-txt Want to see how it works? Check out the video !
			.col-md-7
				.youtube-block#video
					iframe( src='https://www.youtube.com/embed/XJU2LZn8QG0')
