extends layout/layout
block title
  title EVA AIHACKATHON
block content
  main
    include blocks/banner-block
    <!-- End banner-block -->
    include blocks/video-block
    <!-- End video-block -->
    include blocks/competition-block
    <!-- End competition-block -->
    include blocks/game-block
    <!-- End game-block -->
    include blocks/board-block
    <!-- End board-block -->
    include blocks/prize-block
    <!-- End prize-block -->
    include blocks/technical-prize-block
    <!-- End technical-prize-block -->
    include blocks/fair-play-team-block
    <!-- End fair-play-team-block -->
    include blocks/schedule-block
    <!-- End schedule-block -->
    include blocks/join-game-block
    <!-- End join-game-block -->
    include blocks/judges-mentors-block
    <!-- End judges-mentors-block -->
    include blocks/organizer-block
    <!-- End organizer-block -->
    include blocks/supporting-block
    <!-- End supporting-block -->

